In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
pd.DataFrame.from_records(np.random.random((5,5)))

          0         1         2         3         4
0  0.463328  0.505058  0.239920  0.781477  0.493633
1  0.511560  0.009407  0.326836  0.428514  0.257186
2  0.466174  0.510375  0.790201  0.850249  0.102594
3  0.748468  0.983546  0.135020  0.772027  0.282801
4  0.877025  0.290543  0.406428  0.077575  0.221971